.bottom-icons {
  display: flex;
  gap: 20px;
}

.comment {
  display: flex;
}

.likes {
  display: flex;
  align-items: center;
  gap: 5px;
}

.arrow,
.comment-icon,
.delete-icon,
.edit-icon {
  height: 1.8rem;
  cursor: pointer;
}

.icon-btn {
  font-size: inherit;
  font-family: inherit;
  color: white;
  gap: 5px;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.down-vote-btn {
  padding-top: 5px;
}

.auth-icons {
  display: flex;
  gap: 20px;
}
