.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 450px;
  width: 30vw;
  min-width: 300px;
  background-color: rgb(63, 62, 62);
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  color: white;
}

.content label {
  display: flex;
  flex-direction: column;
}

#style-section {
  display: flex;
  justify-content: space-between;
}

#submit-forum {
  cursor: pointer;
  font-family: inherit;
  height: 2rem;
  font-size: 1.2rem;
  color: white;
  background-color: rgb(255, 51, 0);
  border: none;
  font-weight: bold;
}
