.forum-content {
  width: 100%;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
#forum-header {
  background-color: rgb(63, 62, 62);
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}
.banner {
  width: 100%;
  height: 15vh;
}

.title {
  display: flex;
  margin-left: 10%;
  align-content: center;
  gap: 30px;
  color: white;
}

.title h1 {
  font-size: 3rem;
}

.title .icon {
  align-self: center;
  height: 3.5rem;
  width: 3.5rem;
  border: 2px solid black;
  padding: 5px;
  border-radius: 50%;
}

.default,
.icon {
  text-align: center;
  font-size: 3rem;
  line-height: 3.2rem;
  font-weight: bold;
}
.description {
  font-weight: bolder;
  color: white;
  font-size: 1.5rem;
  margin-left: 10%;
}
#forum-description {
  margin-top: 10px;
  font-size: 1.2rem;
  width: 300px;
}

#messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

#create-message {
  display: flex;
  flex-direction: column;
  align-self: center;
  background-color: rgb(63, 62, 62);
  width: clamp(300px, calc(40% + 40px), 740px);
  height: 80px;
  margin-top: 20px;
  justify-content: center;
}

#create-message-nav {
  text-align: center;
  color: white;
  text-decoration: none;
  align-self: center;
  font-size: 1.5rem;
  background-color: gray;
  margin-left: 15px;
  margin-right: 15px;
  min-width: 270px;
  height: 50px;
  line-height: 50px;
  border-radius: 10px;
}

.message {
  display: flex;
  flex-direction: column;
  align-self: center;
  background-color: rgb(63, 62, 62);
  color: white;
  width: clamp(260px, 40%, 700px);
  padding: 20px;
  justify-content: center;
}

.message-title {
  color: lightgray;
  font-size: 1rem;
}

.message-content {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  overflow-wrap: break-word;
}

.message-content h4 {
  font-size: 1.5rem;
  margin: 0;
}
